@-webkit-keyframes animateArrow {
    0% {
        background-position: center center;
    }
    50% {
        -webkit-animation-timing-function: steps(1, end);
        background-position: center 30px;
    }
    51% {
        background-position: center -30px;
    }
    100% {
        background-position: center center;
    }
}
@-moz-keyframes animateArrow {
    0% {
        background-position: center center;
    }
    50% {
        -moz-animation-timing-function: steps(1, end);
        background-position: center 30px;
    }
    51% {
        background-position: center -30px;
    }
    100% {
        background-position: center center;
    }
}
@-o-keyframes animateArrow {
    0% {
        background-position: center center;
    }
    50% {
        -o-animation-timing-function: steps(1, end);
        background-position: center 30px;
    }
    51% {
        background-position: center -30px;
    }
    100% {
        background-position: center center;
    }
}
@keyframes animateArrow {
    0% {
        background-position: center center;
    }
    50% {
        animation-timing-function: steps(1, end);
        background-position: center 30px;
    }
    51% {
        background-position: center -30px;
    }
    100% {
        background-position: center center;
    }
}

/* Generic */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(15, 15, 17);
    font-family: "Open Sans", Verdana, Arial, sans-serif;
}

html,
body {
    height: 100%;
}

.wrap {
    max-width: 800px;
    min-width: 540px;
    margin: 0 auto;
    margin-bottom: -50px;
    min-height: 100%;
}

.clickable,
.button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable:hover,
.button:hover {
    cursor: pointer;
}

.button {
    padding: 5px 15px 5px 15px;
    font-size: 16px;
    color: rgb(200, 100, 0);
    background: linear-gradient(rgba(1, 1, 1, 0.02), rgba(255, 255, 255, 0.02));
    display: inline-block;
    border: 2px solid rgb(25, 25, 27);
}

.button:hover {
    color: rgb(255, 130, 0);
    background: linear-gradient(rgba(255, 255, 255, 0.02), rgba(1, 1, 1, 0.02));
}

.divisor {
    width: 100%;
    height: 1px;
    background-color: rgb(25, 25, 27);
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.amaranthitalic {
    font-family: "Amaranth", Verdana, Arial, sans-serif;
    font-weight: 400;
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
    color: rgb(255, 130, 0);
}

p,
td,
input,
label span {
    color: rgb(220, 220, 220);
    font-size: 14px;
    line-height: 14px;
}

a {
    color: rgb(220, 220, 220);
}
/* - Header */

.header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 5px;
}
/* - Content area */

.uploadbutton {
    margin: 0px -4px 5px 0px;
    text-align: center;
    transition: color 0.3s;
}

.fileheader {
    text-align: right;
    width: 100%;
}

.filecontainer {
    width: 100%;
}
/* Table */

.files {
    border: 2px solid rgb(25, 25, 27);
    max-height: 100%;
    width: 100%;
    overflow: auto;
}

table,
th,
td {
    border-spacing: 0;
}

table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

td {
    padding: 10px;
}

tr {
    height: 50px;
}

th {
    text-align: left;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    border-right: 1px solid rgb(15, 15, 17);
    height: 50px;
    font-weight: 400;
}

th:last-child {
    border-right: 0;
}

tr:nth-child(even),
thead th {
    background-color: rgb(25, 25, 27);
}

tr:nth-child(odd) {
    background-color: rgb(15, 15, 17);
}

tr:first-child {
    height: 25px;
}

.downloadbutton {
    width: 30px;
    height: 30px;
    display: block;
    background: rgb(225, 130, 0) url('img/downloadico.png') no-repeat center;
    border-radius: 30px;
    margin: 0 auto;
}

.downloadbutton:hover {
    -webkit-animation: animateArrow 0.5s ease-in 0s;
    -moz-animation: animateArrow 0.5s ease-in 0s;
    -o-animation: animateArrow 0.5s ease-in 0s;
    animation: animateArrow 0.5s ease-in 0s;
    background-color: rgb(245, 152, 23);
}

#bytedata {
    display: none;
}
/* Upload box */

.uploadbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 30px;
    background-color: rgb(15, 15, 17);
    text-align: center;
}

.uploadscreen {
    background-color: rgba(1, 1, 1, 0.75);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.exitbutton {
    position: fixed;
    top: 5px;
    right: 8px;
    font-family: "Open Sans", Verdana, Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: rgb(150, 150, 150);
}

.uploadbox form span {
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(150, 150, 150);
}

.uploadbox p {
    margin-bottom: 15px;
    color: rgb(150, 150, 150);
    font-size: 12px;
}

#pwBox {
    background-color: transparent;
    height: 30px;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid rgb(25, 25, 27);
    box-sizing: border-box;
    transition: border 0.2s;
}

#pwBox:hover {
    border: 2px solid rgb(55, 55, 57);
}

.uploadbox input[type="submit"] {
    outline: none;
}

.uploadReady {
    display: none;
    width: 100%;
}
/* - Footer */

footer {
    text-align: center;
    height: 50px;
}

footer p,
footer a {
    font-size: 12px;
    color: rgb(75, 75, 77);
    font-family: "Amaranth", Verdana, Arial, sans-serif;
    line-height: 50px;
}

.wrap:after {
    content: "";
    display: block;
    height: 50px;
}

.sortnone {
    background-image: url("img/sortnone.png");
}

.headerSortDown {
    background-image: url("img/sortasc.png");
}

.headerSortUp {
    background-image: url("img/sortdesc.png");
}